html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide the outer scrollbar */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link, a:visited, a:active {
  color: #1ABEFF;
}

a:hover {
  color: #78D9FF;
}

.johnnytitle {
    position: absolute;
    font-size: 45px;
    margin-top: 5%;
}

.container {
    position: absolute;
    margin: auto;
    left: 150px;
}

.container2 {
    position: absolute;
    margin: auto;
    right: 150px;
}

#arrow {
    width: 100px;
    height: auto;
    transform-origin: center center; /* Sets the rotation point to the center */
    position: absolute;
}

#arrow2 {
    width: 100px;
    height: auto;
    transform-origin: center center; /* Sets the rotation point to the center */
    position: absolute;
}

