:root {
	/* font-size: 3vmin; */
	font-size: 1.6rem;
	font-family: roboto;
	color: #717171
}
body {
	margin: 0;
	padding: 0;
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	min-height: 100vh;
}
#background {
	z-index: -1;
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	opacity: .6;
}
header {
	padding: 1rem 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
}
#icons {
	display: flex;
}
.icon img {
	width: 2rem;
	height: 2rem;
	margin: .3rem;
	transition: .3s;
	-webkit-backface-visibility: hidden;
	outline: 1px solid transparent;
	user-select: none;
}
.icon img:hover {
	transform: scale(1.05);
	box-shadow: black;
}

#booking-btn {
	display: block;
	border: 1px solid #1ED760;
	border-radius: 9999px;
	text-decoration: none;
	color: #1ED760;
	font-size: .6rem;
	padding: .5rem 1rem;

	transition: .2s;
}
#booking-btn:hover {
	background-color: #1ED760;
	color: white;
}


#title {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem;
}
#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	min-height: 80vh;
}
#content {
	max-width: 50%;
}
.image-tray {
	display: flex;
	align-items: center;
	justify-content: center;
}
.image-tray img {
	flex: 1;
}
h1 {
	font-size: 3rem;
	color: black;
	margin: .3rem;
}
h3 {
	font-weight: normal;
}
footer {
	margin-top: 2.5rem;
	font-size: .6rem;
	background-color: #dddddd;
	color: #888888;

	box-sizing: border-box;
	width: 100%;
	padding: 1rem 4.5rem;

	display: flex;
	justify-content: center;
}
footer span {
	margin: 0 .3rem;
}
@font-face {
	font-family: roboto;
	src: url("fonts/roboto/Roboto-Regular.ttf")
}
@media only screen and (max-width: 720px) {
	:root {
		font-size: 4vmin;
	}
}